<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
</head>
<body>
    {% block head %}
    <h1>Blogly</h1>
    {% endblock %}
    <ul name="users_list">
        {% block content %}
  <!-- put the content here -->
  {% endblock %}
        <h2>Users</h2>
        {% for user in users %}
        <li>{{ user.first_name }} {{ user.last_name }} (User ID: {{ user.id }})</li>
        <a href="/users/{{ user.id }}">view</a>
        <form><button class="btn btn-danger btn-sm"
            formaction="/users/{{ user.id }}/delete"
            formmethod="POST">Delete
    </button></form>
        
        {% endfor %}
        
    </ul>
    <a name="add_users" id="add_users" href="/users/new">Add Users</a>
</body>
</html>