{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<p>User ID: {{ user.id }}</p>

<form method="POST" action="/users/{{ user.id }}/{{ post.id }}">

        <label for="post_title">Title</label>
        <input type="text" id="title" name="title" value="{{ post.title }}">
     <label for="content">content</label>
        <textarea class="form-control" id="content" name="content">{{ post.content }}</textarea>

        <h2>Tags</h2>
        {% for tag in tags %}
        <ul><input type="checkbox" value="{{ tag.id }}" checked name="tag_checkbox">{{ tag.name }}</ul>
        {% endfor %}

        <h2>New Tags</h2>

        <label for="tags"Tags></label>
    <input type="text" data-role="taginput", data-max-tags="5" name='tags' value="">
    <!-- simpler tag edit or add method. have buttons to delete each tag, and an input for one tag at a time. -->

     
    
     
    <button type="submit">Submit Edits</button>
</form>

<form><button class="btn btn-danger btn-sm"
    formaction="/users/{{ user.id }}/{{ post.id }}/delete"
    formmethod="POST">Delete
</button></form>


{% endblock %}