{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<div class="col-sm-2 col-6">
    <img src="{{ user.image_url }}"
         alt="{{ user.full_name }}"
         class=""
         width="50px"
         >
         
  </div>

<p>User ID: {{ user.id }}</p>
<form action=""><button formaction="/users/{{ user.id }}/post">POST</button></form>
<ul>
    {% for post in user.posts %}
    <li><a href="/users/{{ user.id}}/{{ post.id}}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<form><button class="btn btn-danger btn-sm"
    formaction="/users/{{ user.id }}/edit"
    formmethod="GET">Edit User
</button></form>

<form><button class="btn btn-danger btn-sm"
    formaction="/users/{{ user.id }}/delete"
    formmethod="POST">Delete User
</button></form>




{% endblock %}